/* import */
@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100;200;300;400;500;600;700&family=Lato&family=Poppins:wght@400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,100;1,300;1,400;1,700&display=swap');

:root {
    --container-width: 1270px;
    --container-padding: 15px;
    --secondary: rgba(15, 31, 28, 0.5);
    --orange: #ff7c4e
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f6f6f6;
    color: #0f1f1c;
}

.none {
    display: none !important;
}

.container {
    max-width: var(--container-width);
    padding: 0 var(--container-padding);
    margin: 0 auto;
}

.container-right {
    padding-left: calc((100% - var(--container-width))/2 + var(--container-padding));
}

.container-left {
    padding-left: calc((100% - var(--container-width))/2 + var(--container-padding));
}


/* HEADER */

.header {
    overflow: hidden;
    position: relative;
    min-height: 940px;
    padding-top: 44px;
    background: linear-gradient(132.05deg, #428E5F -17.38%, #112120 78.4%), #204434;
    color: #fff;
}

.header a {
    color: #fff;
}

.header::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 96px;

    background-image: url(./../img/header/header-2.svg);
    background-size: 100%;
}

.header__top {
    margin-bottom: 86px;
}

.header__content {
    max-width: 592px;
    position: relative;
    z-index: 1;
}

.header__row {
    display: flex;
}

.header__img {
    position: relative;
    flex-grow: 1;
}

.header__img img {
    position: absolute;
    max-width: unset;
    width: 894px;
    height: 940px;
    top: -190px;
    right: -90px;
    pointer-events:none ;
}

/* NAV */

.nav {
    display: flex;
    justify-content: space-between;
    column-gap: 80px;
    align-items: center;
}

.nav__list {
    display: flex;
    column-gap: 80px;
    font-size: 15px;
    font-weight: 500;

}



.nav__list a {
    position: relative;
}

.nav__list a.active::after,
.nav__list a:hover::after {
    content: "";

    position: absolute;
    display: block;
    /* width: 35px; */
    height: 4px;
    background-color: #c4c4c4;
    right: 0;
    left: 0;
    bottom: -6px;
    border-radius: 50px;

}

.nav__login {
    font-size: 15px;
    font-weight: 500;
    display: flex;
    column-gap: 25px;
    align-items: center;
}


.nav__list.nav__list--footer a.active::after,
.nav__list.nav__list--footer a:hover::after {
    display: none;
}
.nav__list.nav__list--footer a.active,
.nav__list.nav__list--footer a:hover {
    color: var(--orange);
}

.nav__list--footer a {
    color: var(--orange);    
}



/* LOGO */


.logo {
    font-size: 20px;
    font-weight: 700;
}

.logo--footer {
    color: var(--orange);
}

.logo a {
    color: inherit !;
}



.logo--footer {
    color: #ff7c4e;
}


/* HEADER CONTENT */

.header__badge {
    font-size: 18px;
    font-weight: 500;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.25);
    padding: 11px 30px;
    display: inline-block;
    margin-bottom: 7px;
}


.header__title {
    font-size: 55px;
    margin-bottom: 30px;

}


.header__text {
    margin-bottom: 68px;
    font-size: 25px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5)
}


/* .header__btn {
    font-size: 25px;
    font-weight: 600;
    padding: 27px 48px;
    display: inline-block;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
    border-radius: 27px;

}

.header__btn:hover {
    color: rgb(245, 233, 127);
    transition: color 0.2s ease-in;
}

.header__btn:active {
    position: relative;
    top: 1px;
} */

/* DESTINATIONS */

.destinations {
    padding: 96px 0 100px;
    overflow-x: hidden;
}

.destinations__row {
    display: flex;
    column-gap: 50px;
}

.destinations__content {
    max-width: 456px;
}

.destinations__slider {
    width: 1110px;
    flex-shrink: 0;
}

.destinations__title {
    font-size: 55px;
    font-weight: 600;
    margin-bottom: 15px;
}

.destinations__title span {
    font-size: 30px;
}

.destinations__text {
    margin-bottom: 60px;
    font-size: 25px;
    font-weight: 500;
    color: var(--secondary);
}



/* SLIDER */

.slider {
    position: relative;
    height: 456px;
}

.slider__item {
    margin-top: 27px;
    width: 335px;
    height: 402px;
    object-fit: cover;
    border-radius: 35px;
    transition: 0.2s ease-in;
}

.slider .center .slider__item {
    margin-top: 0;
    width: 380px;
    height: 456px;
}

.slider__btn {

    width: 68px;
    height: 68px;
    display: block;
    border-radius: 50%;

    display: flex;
    align-items: center;

    background: linear-gradient(108.39deg, #FF7B4E 1.35%, #FF584E 8.25%), #8B8B8B;
}

.slider__btn--prev {
    padding-left: 26px;
    justify-content: flex-start;

    position: absolute;
    left: -27px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
}

.slider__btn--next {
    padding-right: 26px;
    justify-content: flex-end;

    position: absolute;
    right: -27px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
}


/* CUSTOMERS */


.customers {
    padding: 100px 0 133px;

}

.customers__row {
    display: flex;
    column-gap: 68px;
}

.customers__img {
    max-width: 478px;

}

.customers__img img {
    border-radius: 60px;
}


.customers__title {
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 35px;

}

/* REVIEW */

.review {
    max-height: 490px;
}

.review__client {
    align-items: center;
    margin-bottom: 60px;
    display: flex;
    column-gap: 33px;
}

.review__client-avatar {
    width: 134px;
    height: 134px;
    border-radius: 50%;
    background: #FFAA99;
    overflow: hidden;

}

.review__client-desc-name {
    font-size: 33px;
    font-weight: 500;
    margin-bottom: 10px;
}

.review__client-country {
    font-size: 25px;
    color: var(--secondary);
}

.review__text {
    margin-bottom: 30px;
    color: var(--secondary);
    font-size: 22px;
    font-weight: 500;
}


/* CTA */

.cta {
    padding: 100px 0;
}

.cta__plate {
    position: relative;
    background-color: #fff;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 580px;
    padding: 40px 15px;
    justify-content: center;
}

.cta__title {
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 30px;
    text-align: center;
}

.cta__text {
    margin-bottom: 60px;
    font-size: 30px;
    column-rule-color: var(--secondary);
}

.cta__plate::before {
    left: 74px;
    bottom: 56px;
    background-image: url(./../img/cta/cta-el-01.svg);
}

.cta__plate::after {
    top: 74px;
    right: 80px;
    background-image: url(./../img/cta/cta-el-02.svg);

}

.cta__plate::before,
.cta__plate::after {
    position: absolute;
    width: 63px;
    height: 83px;

    content: "";
}


/* SUBSCRIBE */

.subscribe {
    padding: 35px 0 50px;
}

.subsctibe__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.subscribe__title {
    max-width: 494px;
    font-size: 55px;
    font-weight: 600;
    margin-bottom: 60px;
}

/* FORM */


.subscribe-form {
    padding: 12px 15px 12px 46px;
    border-radius: 35px;
    background-color: #fff;
    display: flex;
    column-gap: 20px;
}

.subscribe-form__input {
    font-size: 24px;
    font-weight: 500;
}

.subscribe-form__input::placeholder {
    color: var(--secondary);

}



.subscribe-form__btn {
    display: inline-block;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #FFFFFF;
    padding: 34px 86px;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    border-radius: 35px;
}

.subscribe-form__btn:hover {
    color: rgb(245, 233, 127);
    transition: color 0.2s ease-in;
}

.subscribe-form__btn:active {
    position: relative;
    top: 1px;
}


/* FOOTER */

.footer {
    padding: 56px 0 74px;
}

.footer a {
    color: var(--ora);
}


/* BUTTONS */

.btn {
    font-size: 20px;
    font-weight: 600;
    padding: 25px 45px;
    display: inline-block;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
    border-radius: 27px;
    color: #fff !important;

}

.btn:hover {
    color: rgb(245, 233, 127) !important;
    transition: color 0.2s ease-in;
}

.btn:active {
    position: relative;
    top: 1px;
}

.btn--login {
    font-size: 15px;
    font-weight: 500;
    border-radius: 100px;
    padding: 13px 44px;
}

.btn--header {
    font-size: 25px;
    padding: 27px 48px;
}





